<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <root>
      <!--<level value="ALL" />
        <appender-ref ref="MemoryAppender" />-->
    </root>
    <logger name="iText">
      <level value="ALL" />
      <appender-ref ref="MemoryAppender" />
    </logger>
    <appender name="MemoryAppender" type="iText.Test.ITextMemoryAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
        <!--<conversionPattern value="%date %level %logger - %message%newline" />-->
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework, Version=v4.0" />
  </startup>
</configuration>